<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Correo</a></li>
            <li><a href="#">Salir</a></li>
        </ul>
    </nav>

    <!-- Contenido principal -->
    <div class="container">
        <!-- Carrusel de imágenes -->
        <div class="carousel">
            <img src="../../img/hotel1.jpg" alt="Imagen 1">
            <img src="../../img/hotel2.jpg" alt="Imagen 2">
            <img src="../../img/hotel3.jpg" alt="Imagen 3">
            <img src="../../img/hotel4.jpg" alt="Imagen 4">
        </div>

        <!-- Botones de navegación -->
        <div class="navigation-buttons">
            <button id="prev">Anterior</button>
            <button id="next">Siguiente</button>
        </div>
    </div>

    <script src="../../js/home.js"></script>
</body>
</html>