<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Home Cliente</title>
        <link rel="stylesheet" type="text/css" href="/SRHPR-maqueta/assets/css/styles.css">
</head>
<body>
    <div class="row">
        <div class="column">
            <img src="/SRHPR-maqueta/assets/img/hotel1.jpg" alt="foto-1">
            <img src="/SRHPR-maqueta/assets/img/hotel2.jpg" alt="foto-2">
        </div>
        <div>
            <img src="/SRHPR-maqueta/assets/img/hotel3.jpg" alt="foto-3">
            <img src="/SRHPR-maqueta/assets/img/hotel4.jpg" alt="foto-4">
        </div>
    </div>
</body>
</html>